<a href="https://colab.research.google.com/github/ibitabadger/AI-project/blob/main/01-Preprocesado%20y%20modelos%20iniciales..ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Lectura de los datos almacenados en google drive
#Los datos pueden ser encontrados en el siguiente link de google drive:
#https://drive.google.com/uc?id=1AFaagbKMpY07iyvOsPpo8ZPmCMV8J0Pb

import pandas as pd
import gdown

# URL de Google Drive del archivo compartido
google_drive_url = 'https://drive.google.com/uc?id=1AFaagbKMpY07iyvOsPpo8ZPmCMV8J0Pb'

# ID del archivo es "1AFaagbKMpY07iyvOsPpo8ZPmCMV8J0Pb"

# Descargar el archivo desde Google Drive
output_file = 'data.csv'
gdown.download(google_drive_url, output_file, quiet=False)

# Crear un DataFrame a partir del archivo descargado
df = pd.read_csv(output_file, delimiter=';')

# Impresión del dataframe
print(df.head())

Downloading...
From: https://drive.google.com/uc?id=1AFaagbKMpY07iyvOsPpo8ZPmCMV8J0Pb
To: /content/data.csv
100%|██████████| 98.4M/98.4M [00:00<00:00, 248MB/s]

   FORMULARIO  DEPTO  MUNIC  ZONA  COMUNA  BARRIO   NOMBARRIO  VEREDA  \
0      296071      5      1     1       5     508  BELALCAZAR     0.0
1      296071      5      1     1       5     508  BELALCAZAR     0.0
2     2000000      5      1     1      16    1610   EL RINCON     0.0
3     2000000      5      1     1      16    1610   EL RINCON     0.0
4     2000000      5      1     1      16    1610   EL RINCON     0.0

            NOMVEREDA  TELEFONO  ...  GRADO  NIVEL  ACTIVI  BUSCANDO  PERCIBE  \
0  BARRIO ZONA URBANA       1.0  ...    4.0    1.0     1.0       0.0      2.0
1  BARRIO ZONA URBANA       1.0  ...    4.0    1.0     1.0       0.0      1.0
2  BARRIO ZONA URBANA       1.0  ...    5.0    2.0     4.0       0.0      1.0
3  BARRIO ZONA URBANA       1.0  ...    6.0    2.0     3.0       0.0      1.0
4  BARRIO ZONA URBANA       1.0  ...    1.0    1.0     3.0       0.0      2.0

   INGRESOS  EXTRANJERO  PAGAPOR  SERDOMES  PUNTAJE
0       0.0         2.0      2.0       2.0    38.89
1  500000.0         2.0      2.0       2.0    38.89
2  600000.0         2.0      2.0       2.0    57.27
3  680000.0         2.0      2.0       2.0    57.27
4       0.0         2.0      2.0       2.0    57.27

[5 rows x 79 columns]

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


#Elección de columnas consideradas como no relevantes y eliminación de las mismas
columns = ['FORMULARIO', 'SERDOMES', 'EXTRANJERO', 'TIPOESTA', 'EMBARAZA', 'CONYUVIVE', 'TRACTOR', 'ORDEN', 'CUANHORAS', 'CUANDI',  'FECHA',
           'DEPTO', 'BARRIO', 'VEREDA', 'PARED', 'PISO', 'USANITAR', 'USOSANI', 'AGUA', 'LLEGA', 'SUMINIS', 'CUANHORAS', 'PREPARAN']
df = df.drop(columns, axis=1)

#Se guarda los datos en un nuevo archivo
df.to_csv('datos_nuevos.csv', index=False)
df = pd.read_csv('datos_nuevos.csv')

In [ ]:
#Se evalúan columnas con datos nulos de origen y se elimina el archivo 447871, por contener datos nulos
condicion = df[['NOMBARRIO', 'NOMVEREDA', 'TELEFONO', 'VIVIENDA', 'ENERGIA', 'ALCANTA', 'GAS', 'BASURA', 'ACUEDUC', 'ESTRATO', 'ELIMBASURA', 'TCUARTOSVI', 'THOGAR', 'HOGAR', 'TENEVIV', 'TCUARTOS', 'TDORMIR', 'SANITAR', 'TSANITAR', 'DUCHA', 'COCINA', 'COCINAN', 'ALUMBRA', 'USOTELE', 'NEVERA', 'LAVADORA', 'TVCOLOR', 'TVCABLE', 'CALENTA', 'HORNO', 'AIRE', 'COMPUTADOR', 'EQUIPO', 'MOTO', 'AUTO1', 'BIERAICES', 'TPERSONA', 'TIPODOC', 'PARENTES', 'ESTCIVIL', 'HIJOSDE', 'SEXO', 'FECHANTO', 'DISCAPA', 'CARNET', 'ASISTE', 'GRADO', 'NIVEL', 'ACTIVI', 'BUSCANDO', 'PERCIBE', 'INGRESOS', 'PAGAPOR', 'PUNTAJE']].isnull().any(axis=1)
registro_especifico = df[condicion]
print(registro_especifico)
df = df.drop(447871)

        MUNIC  ZONA  COMUNA NOMBARRIO NOMVEREDA  TELEFONO  VIVIENDA  ENERGIA  \
447871      1     1       6       NaN       NaN       NaN       NaN      NaN

        ALCANTA  GAS  ...  CARNET  ASISTE  GRADO  NIVEL  ACTIVI  BUSCANDO  \
447871      NaN  NaN  ...     NaN     NaN    NaN    NaN     NaN       NaN

        PERCIBE  INGRESOS  PAGAPOR  PUNTAJE
447871      NaN       NaN      NaN      NaN

[1 rows x 57 columns]

In [ ]:
#Verificación de que ninguna columna contenga datos nulos
for columna in df.columns:
    cantidad_nulos = df[columna].isnull().sum()
    print(f"Columna '{columna}': {cantidad_nulos} valores nulos")

Columna 'MUNIC': 0 valores nulos
Columna 'ZONA': 0 valores nulos
Columna 'COMUNA': 0 valores nulos
Columna 'NOMBARRIO': 0 valores nulos
Columna 'NOMVEREDA': 0 valores nulos
Columna 'TELEFONO': 0 valores nulos
Columna 'VIVIENDA': 0 valores nulos
Columna 'ENERGIA': 0 valores nulos
Columna 'ALCANTA': 0 valores nulos
Columna 'GAS': 0 valores nulos
Columna 'BASURA': 0 valores nulos
Columna 'ACUEDUC': 0 valores nulos
Columna 'ESTRATO': 0 valores nulos
Columna 'ELIMBASURA': 0 valores nulos
Columna 'TCUARTOSVI': 0 valores nulos
Columna 'THOGAR': 0 valores nulos
Columna 'HOGAR': 0 valores nulos
Columna 'TENEVIV': 0 valores nulos
Columna 'TCUARTOS': 0 valores nulos
Columna 'TDORMIR': 0 valores nulos
Columna 'SANITAR': 0 valores nulos
Columna 'TSANITAR': 0 valores nulos
Columna 'DUCHA': 0 valores nulos
Columna 'COCINA': 0 valores nulos
Columna 'COCINAN': 0 valores nulos
Columna 'ALUMBRA': 0 valores nulos
Columna 'USOTELE': 0 valores nulos
Columna 'NEVERA': 0 valores nulos
Columna 'LAVADORA': 0 valores nulos
Columna 'TVCOLOR': 0 valores nulos
Columna 'TVCABLE': 0 valores nulos
Columna 'CALENTA': 0 valores nulos
Columna 'HORNO': 0 valores nulos
Columna 'AIRE': 0 valores nulos
Columna 'COMPUTADOR': 0 valores nulos
Columna 'EQUIPO': 0 valores nulos
Columna 'MOTO': 0 valores nulos
Columna 'AUTO1': 0 valores nulos
Columna 'BIERAICES': 0 valores nulos
Columna 'TPERSONA': 0 valores nulos
Columna 'TIPODOC': 0 valores nulos
Columna 'PARENTES': 0 valores nulos
Columna 'ESTCIVIL': 0 valores nulos
Columna 'HIJOSDE': 0 valores nulos
Columna 'SEXO': 0 valores nulos
Columna 'FECHANTO': 0 valores nulos
Columna 'DISCAPA': 0 valores nulos
Columna 'CARNET': 0 valores nulos
Columna 'ASISTE': 0 valores nulos
Columna 'GRADO': 0 valores nulos
Columna 'NIVEL': 0 valores nulos
Columna 'ACTIVI': 0 valores nulos
Columna 'BUSCANDO': 0 valores nulos
Columna 'PERCIBE': 0 valores nulos
Columna 'INGRESOS': 0 valores nulos
Columna 'PAGAPOR': 0 valores nulos
Columna 'PUNTAJE': 0 valores nulos

In [ ]:

import pandas as pd
import random


# Número de datos a reemplazar con NaN por columna
cantidad_a_reemplazar = 24000  #

# Utilizar un bucle while para reemplazar valores aleatorios con NaN
cont = 0
while cont < cantidad_a_reemplazar:
    # Generar un índice aleatorio
    indice_a_actualizar = random.randint(0, df.shape[0] - 1)
    # Reemplazar el valor en el índice con NaN
    df.at[indice_a_actualizar, 'BUSCANDO'] = pd.NA
    cont += 1


cont1 = 0
while cont1 < cantidad_a_reemplazar:
    # Generar un índice aleatorio
    indice_a_actualizar = random.randint(0, df.shape[0] - 1)
    # Reemplazar el valor en el índice con NaN
    df.at[indice_a_actualizar, 'TSANITAR'] = pd.NA
    cont1 += 1

cont2 = 0
while cont2 < cantidad_a_reemplazar:
    # Generar un índice aleatorio
    indice_a_actualizar = random.randint(0, df.shape[0] - 1)
    # Reemplazar el valor en el índice con NaN
    df.at[indice_a_actualizar, 'TPERSONA'] = pd.NA
    cont2 += 1

df.to_csv('datos_nuevos.csv', index=False)
df = pd.read_csv('datos_nuevos.csv')

In [ ]:
#Columnas con nulos
for columna in df.columns:
    cantidad_nulos = df[columna].isnull().sum()
    print(f"Columna '{columna}': {cantidad_nulos} valores nulos")

In [ ]:
#stadistic summary
df._get_numeric_data().describe().T

In [ ]:
# Calcula el promedio de los valores no nulos en la columna 'BUSCANDO'
promedio_buscando = df['BUSCANDO'].mean()
df['BUSCANDO'].fillna(promedio_buscando, inplace=True)

# Calcula el promedio de los valores no nulos en la columna 'TSANITAR'
promedio_tsanitar = df['TSANITAR'].mean()
df['TSANITAR'].fillna(promedio_tsanitar, inplace=True)

# Calcula el promedio de los valores no nulos en la columna 'TPERSONA'
promedio_tpersona = df['TPERSONA'].mean()
df['TPERSONA'].fillna(promedio_tpersona, inplace=True)

print("Promedio de BUSCANDO: "+str(promedio_buscando))
print("Promedio de TSANITAR: "+str(promedio_tsanitar))
print("Promedio de TPERSONA: "+str(promedio_tpersona))

#Columnas con nulos
for columna in df.columns:
    cantidad_nulos = df[columna].isnull().sum()
    print(f"Columna '{columna}': {cantidad_nulos} valores nulos")

df.to_csv('datos_preprocesados.csv', index=False)


df = pd.read_csv('datos_preprocesados.csv')

Promedio de BUSCANDO: 0.7932545309783712
Promedio de TSANITAR: 1.0431172172044838
Promedio de TPERSONA: 5.166114647280815
Columna 'MUNIC': 0 valores nulos
Columna 'ZONA': 0 valores nulos
Columna 'COMUNA': 0 valores nulos
Columna 'NOMBARRIO': 0 valores nulos
Columna 'NOMVEREDA': 0 valores nulos
Columna 'TELEFONO': 0 valores nulos
Columna 'VIVIENDA': 0 valores nulos
Columna 'ENERGIA': 0 valores nulos
Columna 'ALCANTA': 0 valores nulos
Columna 'GAS': 0 valores nulos
Columna 'BASURA': 0 valores nulos
Columna 'ACUEDUC': 0 valores nulos
Columna 'ESTRATO': 0 valores nulos
Columna 'ELIMBASURA': 0 valores nulos
Columna 'TCUARTOSVI': 0 valores nulos
Columna 'THOGAR': 0 valores nulos
Columna 'HOGAR': 0 valores nulos
Columna 'TENEVIV': 0 valores nulos
Columna 'TCUARTOS': 0 valores nulos
Columna 'TDORMIR': 0 valores nulos
Columna 'SANITAR': 0 valores nulos
Columna 'TSANITAR': 0 valores nulos
Columna 'DUCHA': 0 valores nulos
Columna 'COCINA': 0 valores nulos
Columna 'COCINAN': 0 valores nulos
Columna 'ALUMBRA': 0 valores nulos
Columna 'USOTELE': 0 valores nulos
Columna 'NEVERA': 0 valores nulos
Columna 'LAVADORA': 0 valores nulos
Columna 'TVCOLOR': 0 valores nulos
Columna 'TVCABLE': 0 valores nulos
Columna 'CALENTA': 0 valores nulos
Columna 'HORNO': 0 valores nulos
Columna 'AIRE': 0 valores nulos
Columna 'COMPUTADOR': 0 valores nulos
Columna 'EQUIPO': 0 valores nulos
Columna 'MOTO': 0 valores nulos
Columna 'AUTO1': 0 valores nulos
Columna 'BIERAICES': 0 valores nulos
Columna 'TPERSONA': 0 valores nulos
Columna 'TIPODOC': 0 valores nulos
Columna 'PARENTES': 0 valores nulos
Columna 'ESTCIVIL': 0 valores nulos
Columna 'HIJOSDE': 0 valores nulos
Columna 'SEXO': 0 valores nulos
Columna 'FECHANTO': 0 valores nulos
Columna 'DISCAPA': 0 valores nulos
Columna 'CARNET': 0 valores nulos
Columna 'ASISTE': 0 valores nulos
Columna 'GRADO': 0 valores nulos
Columna 'NIVEL': 0 valores nulos
Columna 'ACTIVI': 0 valores nulos
Columna 'BUSCANDO': 0 valores nulos
Columna 'PERCIBE': 0 valores nulos
Columna 'INGRESOS': 0 valores nulos
Columna 'PAGAPOR': 0 valores nulos
Columna 'PUNTAJE': 0 valores nulos

In [ ]:
## missing values
#TE DICE EL TOTAL DE NULOS ENCONTRADOS
k = df.isna().sum()
nullValues = k[k != 0].sum()
k[k!=0]
print("Cantidad de nulos: "+str(nullValues))

Cantidad de nulos: 0

In [ ]:
#Correlación con Pearson
import pandas as pd
import numpy as np

# Cargar tu dataset
data = pd.read_csv('datos_preprocesados.csv')

# Calcular la correlación de Pearson con la columna objetivo
correlation_matrix = data.corr()
correlation_with_target = correlation_matrix['PUNTAJE'].abs()

# Ordenar las correlaciones en orden descendente
sorted_correlations = correlation_with_target.sort_values(ascending=False)
print(sorted_correlations)

# Seleccionar las 30 variables más correlacionadas
num_variables_a_mantener = 30
variables_relevantes = sorted_correlations.index[:num_variables_a_mantener]

print(variables_relevantes)
# # Eliminar las variables menos relevantes
# data = data[variables_relevantes]

<ipython-input-214-b1175b8fc3da>:10: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = data.corr()

PUNTAJE       1.000000
ESTRATO       0.352149
TPERSONA      0.335194
LAVADORA      0.329305
ZONA          0.318070
TCUARTOS      0.307183
VIVIENDA      0.299863
NIVEL         0.299811
ALCANTA       0.285275
TVCABLE       0.282250
COMPUTADOR    0.271075
SANITAR       0.270883
NEVERA        0.261723
GRADO         0.257657
GAS           0.256582
TELEFONO      0.248966
HORNO         0.229138
EQUIPO        0.224590
TDORMIR       0.211229
COCINA        0.209659
CALENTA       0.199708
INGRESOS      0.195066
DUCHA         0.188893
ACUEDUC       0.186207
THOGAR        0.165095
TCUARTOSVI    0.162389
TIPODOC       0.159893
TSANITAR      0.158085
MOTO          0.157553
TVCOLOR       0.151427
HIJOSDE       0.142096
PERCIBE       0.139172
AUTO1         0.132105
USOTELE       0.130389
ESTCIVIL      0.127800
HOGAR         0.126723
COCINAN       0.120431
PARENTES      0.113926
ACTIVI        0.079633
DISCAPA       0.077668
BASURA        0.053970
CARNET        0.051045
ELIMBASURA    0.050493
AIRE          0.042774
TENEVIV       0.042205
BIERAICES     0.039335
COMUNA        0.035532
ENERGIA       0.035097
SEXO          0.031334
ALUMBRA       0.030770
ASISTE        0.020289
BUSCANDO      0.015129
PAGAPOR       0.009908
MUNIC              NaN
Name: PUNTAJE, dtype: float64
Index(['PUNTAJE', 'ESTRATO', 'TPERSONA', 'LAVADORA', 'ZONA', 'TCUARTOS',
       'VIVIENDA', 'NIVEL', 'ALCANTA', 'TVCABLE', 'COMPUTADOR', 'SANITAR',
       'NEVERA', 'GRADO', 'GAS', 'TELEFONO', 'HORNO', 'EQUIPO', 'TDORMIR',
       'COCINA', 'CALENTA', 'INGRESOS', 'DUCHA', 'ACUEDUC', 'THOGAR',
       'TCUARTOSVI', 'TIPODOC', 'TSANITAR', 'MOTO', 'TVCOLOR'],
      dtype='object')

In [ ]:
import pandas as pd


df = pd.read_csv('datos_preprocesados.csv')

# Selecciona las columnas deseadas
columnas_seleccionadas = ['PUNTAJE', 'ESTRATO', 'TPERSONA', 'LAVADORA', 'ZONA', 'TCUARTOS',
       'VIVIENDA', 'NIVEL', 'ALCANTA', 'TVCABLE', 'COMPUTADOR', 'SANITAR',
       'NEVERA', 'GRADO', 'GAS', 'TELEFONO', 'HORNO', 'EQUIPO', 'TDORMIR',
       'COCINA', 'CALENTA', 'INGRESOS', 'DUCHA', 'ACUEDUC', 'THOGAR',
       'TCUARTOSVI', 'TIPODOC', 'TSANITAR', 'MOTO', 'TVCOLOR']

df_model = df[columnas_seleccionadas]

# Guarda el DataFrame con las columnas seleccionadas en un nuevo archivo CSV
df_model.to_csv('datos_modelo.csv', index=False)

df_model.shape

(447871, 30)

In [ ]:
#MODELOS

import pandas as pd
from sklearn.model_selection import train_test_split

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv('datos_modelo.csv')

# Dividir los datos en conjuntos de entrenamiento (75%) y prueba (25%)
X = df.drop('PUNTAJE', axis=1)  # Características
y = df['PUNTAJE']  # Variable objetivo

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

modelos = {
    'Regresión Lineal': LinearRegression(),
    'Árbol de Decisión': DecisionTreeRegressor(),
    'Bosque Aleatorio': RandomForestRegressor()
}
from sklearn.metrics import mean_squared_error, r2_score

resultados = []

for nombre, modelo in modelos.items():
    modelo.fit(X_train, y_train)
    y_pred = modelo.predict(X_test)

    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    hiperparametros = modelo.get_params()  # Obtener hiperparámetros


    resultados.append({'Modelo': nombre, 'Mean Squared Error (MSE)': mse, 'R-squared (R^2)': r2, 'Hiperparámetros': hiperparametros})

resultados_df = pd.DataFrame(resultados)
print(resultados_df)

              Modelo  Mean Squared Error (MSE)  R-squared (R^2)  \
0   Regresión Lineal                113.592857         0.538082
1  Árbol de Decisión                146.713812         0.403398
2   Bosque Aleatorio                 98.516431         0.599390

                                     Hiperparámetros
0  {'copy_X': True, 'fit_intercept': True, 'n_job...
1  {'ccp_alpha': 0.0, 'criterion': 'squared_error...
2  {'bootstrap': True, 'ccp_alpha': 0.0, 'criteri...

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv('datos_modelo.csv')

# Dividir los datos en conjuntos de entrenamiento (75%) y prueba (25%)
X = df.drop('PUNTAJE', axis=1)  # Características
y = df['PUNTAJE']  # Variable objetivo

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# Entrenar modelos adicionales
model_svm = SVR(kernel='linear')  # SVM lineal
model_svm.fit(X_train, y_train)

model_ann = MLPRegressor(hidden_layer_sizes=(100, 50), activation='relu', max_iter=1000, random_state=42)  # Red Neuronal Artificial
model_ann.fit(X_train, y_train)

# Evaluar los modelos
y_pred_svm = model_svm.predict(X_test)
y_pred_ann = model_ann.predict(X_test)

mse_svm = mean_squared_error(y_test, y_pred_svm)
r2_svm = r2_score(y_test, y_pred_svm)

mse_ann = mean_squared_error(y_test, y_pred_ann)
r2_ann = r2_score(y_test, y_pred_ann)

print("Resultados del modelo SVM:")
print(f"Mean Squared Error (MSE): {mse_svm}")
print(f"R-squared (R^2): {r2_svm}")

print("\nResultados del modelo Red Neuronal Artificial (ANN):")
print(f"Mean Squared Error (MSE): {mse_ann}")
print(f"R-squared (R^2): {r2_ann}")